@model WebApplication2.Models.HomeViewModel
@using Microsoft.AspNet.Identity
@{
    if (!User.Identity.IsAuthenticated)
    {  
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top">Mezo Experts</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>

                        <li class="dropdown">
                            <a id="dd1" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="CloseNavBarOnClick" href="#registerStudentModal" data-toggle="modal">SignUp as Student</a></li>
                                <li><a class="CloseNavBarOnClick" href="#registerTutorModal" data-toggle="modal">SignUp as Tutor</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="CloseNavBarOnClick" href="#loginNewModal" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>

                        <li class="page-scroll">
                            <a href="#contact" class="CloseNavBarOnClick">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- Modals -->
        @Html.Partial("~/Views/Shared/_LoginNewPartial.cshtml", Model.Login)

        @Html.Partial("~/Views/Shared/_RegisterStudentPartial.cshtml", Model.RegisterClient)

        @Html.Partial("~/Views/Shared/_RegisterTutorPartial.cshtml", Model.RegisterExpert)
    }
    else
    {
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top">Mezo Experts</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>

                      @{
                          if (User.IsInRole("Student"))
                          {
                                <li>
                                    <a href="#" onclick="location.href='@Url.Action("Inbox","Students")'"><span class="glyphicon glyphicon-question-sign"></span> Inbox</a>
                                </li>
                                <li>
                                    <a href="#" onclick="location.href='@Url.Action("Index","Students")'"><span class="glyphicon glyphicon-question-sign"></span> Post Question</a>
                                </li>
                          }
                          else if (User.IsInRole("Tutor"))
                          {
                                <li>
                                    <a href="#" onclick="location.href='@Url.Action("Inbox","Tutors")'"><span class="glyphicon glyphicon-question-sign"></span> Inbox</a>
                                </li>
                                <li>
                                    <a href="#" onclick="location.href='@Url.Action("PostedRequests","Tutors")'" ><span class="glyphicon glyphicon-question-sign"></span> View Posted Questions</a>
                                </li>
                          }
                          else
                          {
                            <li>
                                <a href="#" onclick="location.href='@Url.Action("Manage","Students")'"><span class="glyphicon glyphicon-question-sign"></span> Students</a>
                            </li>
                            <li>
                                <a href="#" onclick="location.href='@Url.Action("Manage","Tutors")'"><span class="glyphicon glyphicon-question-sign"></span> Tutors</a>
                            </li>
                            <li>
                                <a href="#" onclick="location.href='@Url.Action("Index","Categories")'"><span class="glyphicon glyphicon-question-sign"></span> Categories</a>
                            </li>

                          }


                          if (User.IsInRole("Student")|| User.IsInRole("Tutor"))
                          {
                            <li class="dropdown">
                                <a id="dd1" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="document.getElementById('LogoutForm').submit();"><span class="glyphicon glyphicon-log-out"></span> Account Settings</a></li>
                                    @if (  User.IsInRole("Tutor"))
                                    {
                                      <li><a href="#" onclick="location.href='@Url.Action("EditProfile","Tutors")'"><span class="glyphicon glyphicon-log-out"></span> Profile</a></li>
                                    }
                                    else{
                                    <li><a href="#" onclick="location.href='@Url.Action("EditProfile","Students")'"><span class="glyphicon glyphicon-log-out"></span> Profile</a></li>
                                    }
                                    <li><a href="#" onclick="document.getElementById('LogoutForm').submit();"><span class="glyphicon glyphicon-log-out"></span> Help</a></li>
                                    <li><a href="#" onclick="document.getElementById('LogoutForm').submit();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                 </ul>
                            </li>
                          }
                    }
                        @*<li>
                            <a href="#" onclick="document.getElementById('LogoutForm').submit();"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>*@

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "LogoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    }
}