@model  WebApplication2.Models.Payment
@{
    ViewBag.Title = "Account";
}

<div class="container fill img-rounded">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 personal-info">
            <h1 class="h1over">@Resources.AddFunds </h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
       
        
        <div class="col-lg-3 col-xs-6" style="margin-top:20px;color:white">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h1>$ @Model.Balance <sup style="font-size: 25px"></sup></h1>
                    
                </div>
                <div class="icon">
                    <i class="fa fa-dollar"></i>
                </div>
                <a href="#" class="small-box-footer"> <p><b>@Resources.CurrentBalance</b></p></a>
            </div>
        </div><!-- ./col -->
        <div class="col-md-1"></div>
        <div class="col-md-8 personal-info">
            <div class="alert alert-info alert-dismissable" style="display: none;" id="alerts">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-check"></i>
                Funds added to your account Successfully !!!
            </div>
           <br />
            @using (Html.BeginForm("Payment", "Students", FormMethod.Post, new { id = "QuestionDetails" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-lg-3 control-label">@Html.Label(Resources.Amount+" : ")</label>
                    <div class="col-lg-6">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-4"></div>
                        <div class="col-md-6">
                            <br />
                            <input type="submit" class="btn btn-success" value="@Resources.AddFunds">

                        </div>
                    </div>
                    <div class="form-group">
                       <br/>
                        <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="~/Images/paypal.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
                    </div>
                </div>

            }
        </div>

    </div>
</div>


@section scripts{
    <script>

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        var tech = getUrlParameter('guid');
        if (tech != null)
          $("#alerts").show();

    </script>


}
